<html style="background-color: rgb(40, 40, 40);">
<h1 style="color: lightslategray;">Rocket Form Kitchen Sink</h1>

<form action="/" method="post" accept-charset="utf-8">
  <label style="color: lightslategray;">Checkbox:
    <input type="checkbox" name="checkbox" value="on">
  </label><br /><br />

  <label style="color: lightslategray;">Number:
    <input name="number" type="number" value="123" style="background-color: lightslategray;" />
  </label><br /><br />

  <label style="color: lightslategray;">Password:
    <input name="password" type="password" style="background-color: lightslategray;"/>
  </label>
  <br /><br />

  <label for="type" style="color: lightslategray;">Type:
    <label for="a">A
      <input type="radio" name="type" id="a" value="a" style="background-color: lightslategray;"/>
    </label>
    <label for="b">B
      <input type="radio" name="type" id="b" value="b" checked style="background-color: lightslategray;"/>
    </label>
    <label for="c">C
      <input type="radio" name="type" id="c" value="c" style="background-color: lightslategray;"/>
    </label>
  </label>
  <br /><br />

  <label style="color: lightslategray;">Textarea:
    <textarea name="textarea" rows="10" cols="50" style="background-color: lightslategray;">Write something here.</textarea>
  </label>
  <br /><br />
  
  <label style="color: lightslategray;">Select:
    <select name="select" style="background-color: lightslategray;">
      <option value="a" style="background-color: lightslategray;">Value A</option>
      <option value="b" selected style="background-color: lightslategray;">Value B</option>
      <option value="c" style="background-color: lightslategray;">Value C</option>
    </select>
  </label>
  <br /><br />
  <label >
    <input type="submit" value="Login" >
  </label>
  <br /><br />
  
</form>

<!-- <script>
    alert( 'Hello, world!' );
   </script>  -->
</html>