{% extends "base" %}

{% block content %}
    <h1>Hi {{name}}</h1>
    <h3>Here are your items:</h3>
    <ul>
        {% for map in items %}
            <li>{{ map }}</li>
        {% endfor %}
    </ul>

    <p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>
{% endblock content %}